2.kra* filter=lfs diff=lfs merge=lfs -text
4.kra filter=lfs diff=lfs merge=lfs -text
4.kra* filter=lfs diff=lfs merge=lfs -text
Final.kra* filter=lfs diff=lfs merge=lfs -text
*.kra filter=lfs diff=lfs merge=lfs -text
Final.kra filter=lfs diff=lfs merge=lfs -text
